<a href="{{ message.link ?: '#' }}" class="message {{ message.messageRead ? 'read' : 'new' }}">
<div class="user-img">

        <div class="btn btn-{{ message.color }} btn-circle"><i class="fa {{ message.icon }}"></i></div>

        {% if message.type %}
        <span class="profile-status {{ message.type }} pull-right"></span>
        {% endif %}
    </div>
    <div class="mail-contnet">
        <h5>{{ message.title }}</h5>
        <span class="mail-desc">{{ message.subTitle }}</span>
        <span class="time">{{ message.time | localizeddate('short', 'short', app.request.locale) }}</span>
    </div>
</a>
