{% extends '@KnpMenu/menu.html.twig' %}

{% import "knp_menu.html.twig" as macros %}

{% block list %}
    {% if item.level == 0 %}
        {{ block('children') }}
    {% else %}
        {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
            <ul{{ macros.attributes(listAttributes) }}>
                {{ block('children') }}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}


{% block spanElement %}
    {% if item.hasChildren %}
        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            {%- if item.getExtra('icon') is not null -%}<i class="fas fa-fw fa-{{ item.getExtra('icon') }}"></i>{%- endif -%}
            <span class="hide-menu">{{ block('label') }}</span>
        </a>
    {% else %}
        <span{{ macros.attributes(item.labelAttributes) }}>{{ block('label') }}</span>
    {% endif %}
{% endblock %}

{% block linkElement %}
    <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>
        {%- if item.getExtra('icon') is not null -%}<i class="fas fa-fw fa-{{ item.getExtra('icon') }}"></i>{%- endif -%}
        <span{% if item.level == 1 %} class="hide-menu"{% endif %}>{{ block('label') }}</span>
    </a>
{% endblock %}